/* ------------------- Conteudo */

.conteudo {
  width: 95%;
  height: 85vw;
  padding-top: 30px;
  margin: 0 auto;
}


.bg-table-e-pesquisa {
  background-color: rgba(68, 68, 68, 0.856);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* ------------------- titulo da pagina */
.titulo-da-pagina{
  font-weight: bold;
}

.material-icons {
  position: relative;
  top: 4px;
}

/* ------------------- filtro pequisa e botao */

.pesquisar-e-botao {
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 15px;
  display: flex;
}

.bg-filtro {
  width: 22vw;
  height: 40px;
  background-color: rgba(218, 218, 218, 0.452);
  border-radius: 15px;
}

mat-label {
  color: whitesmoke;
}


.width-filter {
  font-size: 14px;
  width: 20vw;
  padding-left: 10px;
}

.button-novo {
  margin: 0 0 0 auto;
  margin-right: 15px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  border: unset;
  background-color: rgb(74, 179, 197);
  color: whitesmoke;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.button-novo:hover::after {
 content: " +";
}

/* ------------------------- tabela */

table {
  width: 100%;
  background-color: transparent;
  transition: none !important;
  box-shadow: none !important;
}
table th:first-child{
  border-top-left-radius: 15px;
}
table th:last-child{
  border-top-right-radius: 15px;
}

table td,
table th {
  color: whitesmoke;
  text-align: center;
}

table th {
  font-size: 16px;
  background-color: rgb(48, 48, 48);
}

mat-paginator {
  background-color: transparent;
  color: whitesmoke;
}

