body {
  height: 100vh;

}
.container {
    display: grid;
    grid-template-columns: 20% 80%;
    background: url("./body-bg.jpg");
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .aside-menu {
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.623) , rgba(235, 235, 235, 0.589)); */
    background-image: linear-gradient(
      to bottom right, rgba(0, 0, 0, 0.863) , rgba(146, 145, 145, 0.973));

    grid-column-start: 1;
    grid-column-end: 1;
  }

  .aside-content {
    /* background-image: linear-gradient(to left, rgba(0, 0, 0, 0.623) , rgba(235, 235, 235, 0.589)); */
     background-image: linear-gradient(
      to bottom left, rgba(0, 0, 0, 0.863) , rgba(146, 145, 145, 0.973));


      grid-column-start: 2;
    grid-column-end: 2;
  }



