

/*------------------------usuario logado*/

.usuario-logado {
  padding-top: 35px;
  padding-left: 34px;
}


.foto-usuario {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  background: url("foto-usuario.svg");
  background-size: cover;

  margin-left: 35px;
}

.nome-usuario {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(141, 141, 141);

  /* centralizar o icone */
  display: flex;
}

/*------------------------todos itens do menu*/
a {
  text-decoration: none;
  font-size: 20px;
}

.sidebar-items {
  margin: 0;
  height: 100%;
  margin: 10px;
  border-radius: 15px;
  padding-left: 0;
}

/*------------------------menus pai*/

.menu-pai {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.95);
  margin-bottom: 10px;
  cursor: pointer;
  padding-left: 20px;
   /* display: flex;
  justify-content: center; */
}

.menu-pai:hover {
  color: #d1ae5c;
  -webkit-transform: scale(1.05) !important;
  -ms-transform: scale(1.05) !important;
  transform: scale(1.05) !important;
}

.menu-pai a {
  /*centralizar o icone com a TAG a*/
  display: flex;
}

.material-icons {
  /*centralizar o icone com a TAG a*/
  position: relative;
  bottom: 1.5px;
  padding-right: 5px;
}


/*------------------------submenus */

.submenu {
  font-size: 14px;
}

.submenu li:last-child {
  margin-bottom: 10px;
}

.submenu li {
  list-style-type: none;
  cursor: pointer;
  padding-left: 14px;
  margin-bottom: 5px;
}

.submenu li a {
  color: rgb(187, 187, 187);
  font-size: 16px;
}

.submenu li a:hover {
  color: #d1ae5c !important;
}

.submenu li:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.submenu li a.selected {
  color: #d1ae5c !important;
}

/*------------------------Controlar o hide e show do submenu*/
.agendamentos-sub,
.quartos-sub,
.usuarios-sub {
  display: none;
}

.agendamentos-sub.ativo,
.quartos-sub.ativo,
.usuarios-sub.ativo {
  display: block;
}
