

.sidebar-items {
  padding-top: 30px;
  padding-left: 0px;
  margin: 0;
}

.sidebar-items .submenu {
  padding-bottom: 15px;
}

.sidebar-items .submenu li {
  list-style-type: none;
  padding-left: 25px;
  padding-top: 7px;
  cursor: pointer;

  display: none;
}

.sidebar-items .submenu li a {
  color: rgb(187, 187, 187);
}

.sidebar-items .submenu li a:hover {
  color: orange;
  list-style-type: none;
}

.list-item {
  position: relative;
  justify-content: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.95);
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.list-item:hover {
  color: orange;
}

.teste {
  position: relative;
  justify-content: center;
  align-items: center;

}


.submenu li a.selected {
  background-color: rgb(235, 132, 15);
  color: black;
}



.list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: orange;
  opacity: 0;
  transform: scaleY(0);
  transition: transform 0.2s, opacity 0.2s;
}
/*
.list-item:hover::before {
  opacity: 0.35;
  transform: scaleY(0.5) scaleX(2);
}

.list-item.selected {
  color: orange;
}

.list-item.selected::before {
  opacity: 1;
  transform: scaleY(1);
}

.list-item i.material-icons {
  margin-right: 10px;
} */
