<aside>

  <div class="usuario-logado">
    <div  class="foto-usuario">
    </div>
    <p class="nome-usuario"><span class="material-icons">
      manage_accounts
      </span> Brenda Borba</p>

  </div>

  <ul class="sidebar-items">
    <div>
      <div class="menu-pai agendamentos-pai">
        <a id="sidebar"
           (click)="clickMenu1()"><span class="material-icons">home
          </span>Agendamentos</a>
      </div>

      <ul id="ActiveClass1"
          class="submenu agendamentos-sub ativo">
        <li>
          <a routerLink="/hospedes"
             routerLinkActive="selected">
            Hospedes
          </a>
        </li>
        <li><a routerLink="/reservas"
             routerLinkActive="selected">
            Reservas
          </a></li>
        <li><a routerLink="/hospedagens"
             routerLinkActive="selected">
            Hospedagens
          </a></li>
      </ul>
    </div>

    <div>
      <div class="menu-pai quartos-pai">
        <a (click)="clickMenu2()"><span class="material-icons">room</span>Quartos</a>
      </div>
      <ul id="ActiveClass2"
          class="submenu quartos-sub">
        <li>
          <a routerLink="/cadastro"
             routerLinkActive="selected">
            Cadastro</a>
        </li>
      </ul>
    </div>

    <div>
      <div class="menu-pai usuarios-pai">
        <a (click)="clickMenu3()"><span class="material-icons">supervised_user_circle</span>Usuários</a>
      </div>
      <ul id="ActiveClass3"
          class="submenu usuarios-sub">
        <li>
          <a routerLink="/cadastro-funcionarios"
             routerLinkActive="selected">
            Cadastro de Funcionários</a>
        </li>
      </ul>
    </div>
  </ul>

</aside>
