<aside>
  <ul class="sidebar-items">
    <div>
      <div class="teste">
      <a class="list-item">
        <a class="material-icons">calendar_today
        </a>Agendamentos
      </a>
    </div>

      <ul class="submenu">
        <li>
          <a routerLink="/hospedes"
             routerLinkActive="selected">
            Hospedes
          </a>
        </li>
        <li><a routerLink="/reservas"
             routerLinkActive="selected">
            Reservas
          </a></li>
        <li><a routerLink="/hospedagens"
             routerLinkActive="selected">
            Hospedagens
          </a></li>
      </ul>
    </div>

    <div>
      <a class="list-item">
        <a class="material-icons">
          room
      </a>
        Quartos
      </a>
      <ul class="submenu">
        <li>
          <a routerLink="/cadastro"
             routerLinkActive="selected">
            Cadastro
          </a>
        </li>
      </ul>
    </div>

    <div>
      <a class="list-item">
        <a class="material-icons">
          supervised_user_circle
        </a>
        Usuários
      </a>
      <ul class="submenu">
        <li>
          <a routerLink="/cadastro-funcionarios"
             routerLinkActive="selected">
            Cadastro de Funcionários
          </a>
        </li>
      </ul>
    </div>
  </ul>

</aside>
