/*------------------------todos itens do menu*/
a {
  text-decoration: none;
}

.sidebar-items {
  padding-top: 20px;
  padding-left: 10px;
  margin: 0;
}

/*------------------------menus pai*/

.menu-pai {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.95);
  padding-left: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-pai:hover {
  color: #d1ae5c;
  -webkit-transform: scale(1.05)!important;
  -ms-transform: scale(1.05)!important;
  transform: scale(1.05)!important;
}

.menu-pai a {
  /*centralizar o icone com a TAG a*/
  display: flex;
  align-items: center;
}

.material-icons {
  /*centralizar o icone com a TAG a*/
  position: relative;
  bottom: 1.5px;
  padding-right: 5px;
}

/*------------------------submenus */

.submenu {
  font-size: 14px;
}

.submenu li:last-child{
  margin-bottom: 10px;
}

.submenu li {
  list-style-type: none;
  cursor: pointer;
  padding-left: 14px;
  margin-bottom: 5px;
}

.submenu li a {
  color: rgb(187, 187, 187);
}

.submenu li a:hover {
  color: #d1ae5c !important;
}

.submenu li:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.submenu li a.selected {
  color: #d1ae5c !important;
}



/*------------------------Controlar o hide e show do submenu*/
.agendamentos-sub,
.quartos-sub,
.usuarios-sub
{
  display: none;
}

.agendamentos-sub.ativo,
.quartos-sub.ativo,
.usuarios-sub.ativo
{
  display:block;
}


